body {
    background-color: #fff;
}

h3 {
    margin: 0;
}

pre {
    border: none;
    background-color: transparent;
}

pre > code {
    background-color: #ffffff !important;
}

a {
    color: #09647d;
}

a:hover, a:focus {
    color: #007396;
}

.nav-title {
    font-size: 20px;
    color: #007396;
    font-weight: 600;
}

.a-nav-menu {
    margin: 10px 0;
    position: relative
}

.a-nav-menu > a {
    color: #333;
    padding-left: 11px;
}

.dot:before {
    top: -4px;
    left: -4px;
    font-size: 36px;
    color: #333;
    content: "\00b7";
    display: block;
    position: absolute;
}

.a-nav-menu.current > a {
    color: #09647d;
}

.a-nav-menu.current .dot:before {
    color: #09647d;
}

.navbar {
    margin-bottom: 0;
}

.panel-api-case {
    margin: 0;
    border-radius: 0;
    background: transparent !important;
    box-shadow: none !important;
}

.panel-api-case > .panel-heading {
    padding: 5px 15px;
}

.panel-api-case > .panel-body {
    padding: 0 20px;
}

.panel.panel-api-case.current {
    background-color: #fbfbfb;
}

.panel.panel-nav-case {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
}

.panel-nav-case > .panel-heading {
    padding: 0 0 10px 30px
}

.panel-nav-case > .panel-body {
    padding: 0 20px 20px 30px
}

.panel-nav-case:nth-last-child(1) {
    border-bottom: none;
}

.case-title {
    font-size: 18px;
}

.case-title > .badge {
    padding: 8px;
}

.menu-list > div {
    padding: 5px 0;
}

.well {
    margin: 10px 0;
    padding: 10px 0;
    background-color: transparent;
}

.none {
    background: #fff;
    padding: 30px 50px;
    width: 680px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px #eee;
}

.menu-list {
    /*border-top: #efefef dashed 1px;*/
}

.menu-list.current {
    /*background: #fff;*/
}

.mainWrap {
    min-height: 100%;
}

.navContainer {
    padding: 0 30px
}

.mainContainer {
    min-height: 100%;
    display: flex;
    margin-top: 50px;
}

.leftContainer {
    width: 300px;
    max-width: 500px;
    padding: 0;
}

.rightContainer {
    margin-top: 20px;
    min-height: 100%;
    flex: 1;
    display: flex;
    padding: 0 15px;
    justify-content: center;

}

.menuContainer {
    padding: 35px 0;
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 999;
    overflow-x: hidden;
    border-right: solid #f1f1f1 1px;
    background: #fcfcfc;
}

.contentContainer {
    max-width: 700px;
    width: 100%;
    min-width: 470px;
}

.jsonview {
    font-size: 14px !important;
}

#mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    opacity: 0.6;
    z-index: 800;
    display: none;
}

#goTop, #fold {
    display: none;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 3%;
    bottom: 80px;
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=60);
}

#goTop > i, #fold > i {
    color: #333;
    font-size: 42px;
}

#fold {
    display: block;
    bottom: 130px;
}