<?php echo '<?php' . PHP_EOL ?>
/**
 * 开发者配置
 * name  名字
 * email 电子邮件
 *
 * 生成时间
 * <?php echo date('Y-m-d H:i:s') . PHP_EOL ?>
 *
 * 在第一次调用cp命令时由系统自动生成
 * 每个人的信息不一样，所以请不要将此文件加入版本管理系统
 * 如发现信息不符，请删除本文件，下次调用cp命令时会自动生成
 */
return array(
    'name' => '<?php echo $data['name'] ?>',
    'email' => '<?php echo $data['email'] ?>',
);